<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.adminlearning">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--
 Make sure the device has a camera. If you use android.hardware.camera without .any,
 it will not work if you have a device without a back camera, such as most Chromebooks.
    -->
    <uses-feature android:name="android.hardware.camera.any" /> <!-- Specifying that the app will need camera permission -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_masks"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GIFDetailsActivity"></activity>
        <activity android:name=".PendingLibraryActivity" />
        <activity android:name=".GIFLibraryActivity" />
        <activity android:name=".MainCommunicationActivity" />
        <activity android:name=".MainAssessmentActivity" />
        <activity android:name=".EditCategory" />
        <activity
            android:name=".EditQuestion"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".EditSL"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AddQactivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AddSLactivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ListChallengeSLactivity" />
        <activity android:name=".listLearnSLactivity" />
        <activity
            android:name=".AddCategory"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>