<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.adminlearning">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--
 Make sure the device has a camera. If you use android.hardware.camera without .any,
 it will not work if you have a device without a back camera, such as most Chromebooks.
    -->
    <uses-feature android:name="android.hardware.camera.any" /> <!-- Specifying that the app will need camera permission -->
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_masks"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".assessment.VideoCallActivity"></activity>
        <activity android:name=".assessment.CallingActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".EditGIFDetailsActivity"
            android:parentActivityName=".GIFDetailsActivity" />
        <activity
            android:name=".GIFDetailsActivity"
            android:parentActivityName=".GIFLibraryActivity" />
        <activity
            android:name=".PendingLibraryActivity"
            android:parentActivityName=".MainCommunicationActivity" />
        <activity
            android:name=".GIFLibraryActivity"
            android:parentActivityName=".MainCommunicationActivity" />
        <activity android:name=".MainCommunicationActivity" />
        <activity android:name=".EditCategory" />
        <activity
            android:name=".EditQuestion"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".EditSL"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AddQactivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".AddSLactivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ListChallengeSLactivity" />
        <activity android:name=".listLearnSLactivity" />
        <activity
            android:name=".AddCategory"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Yvonne punya activity -->
        <activity android:name=".assessment.MainActivity" /> <!-- android:theme="@style/AppTheme.NoActionBar" /> -->
        <activity
            android:name=".assessment.ManageQuestionsActivity"
            android:parentActivityName=".assessment.MainActivity" />
        <activity
            android:name=".assessment.ManageCourseworkActivity"
            android:parentActivityName=".assessment.MainActivity" />
        <activity
            android:name=".assessment.ManageOnlineInterviewActivity"
            android:parentActivityName=".assessment.MainActivity" />
        <activity
            android:name=".assessment.ManageCertificationActivity"
            android:parentActivityName=".assessment.MainActivity" />
        <activity
            android:name=".assessment.ManageTestSettingsActivity"
            android:parentActivityName=".assessment.MainActivity" />

        <service android:name=".assessment.CallRingtoneService" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.adminlearning.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>